bin
obj
packages/*/
ext
*.user
*.suo
.project
cache/*.js
*.min.css
/Apps/Codaxy.Dextop.Template.Desktop/client/dextop
/Apps/Codaxy.Dextop.Showcase/client/lib/dextop/css/dextop-min.css
/Apps/Codaxy.Dextop.Showcase/client/css/theme-min.css
/Apps/Codaxy.Dextop.Showcase/client/css/features-min.css
/NuGet/*/content
/NuGet/*/lib
/NuGet/*/src
/NuGet/*.nupkg
/NuGet/local.bat